<!DOCTYPE html>
<html>
    <%- include("base-header"); -%>
    <body>
        <%- include("navbar"); -%>
        <div class="container my-4">
            <div class="d-flex mb-3">
                <h5 class="mb-3">Bird Listing</h5>
                <div class="ms-auto">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Sort By
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" onclick="sortPostByAscendingOrder()">Date (First Added)</a></li>
                            <li><a class="dropdown-item" onclick="sortPostByDescendingOrder()">Date (Recent)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="listing-card-wrapper" class="row gy-4">


            </div>

            <div id="images-container" class="grid-container"></div>

            <!-- Listing Card Template -->
            <div id="listing-card-template" class="col-md-4  d-none">
                <div class="listing-card  card h-100 ">
                    <img></img>
                    <div class="card-body">
                        <p id="listing-description">Sample Description</h2>

                        <h6 id="listing-user-name">User</h6>
                        <p id="listing-user-time-stamp">12 November 2020</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include("base-footer"); -%>
    <script src="/javascripts/home-page.js"></script>
</html>
