<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/home-page.css">
  </head>
<body>
    <div id="images-container" class="grid-container"></div>
</body>
<script src="/javascripts/home-page.js"></script>
</html>
