<!DOCTYPE html>
<html>
    <%- include("base-header"); -%>
    <body>
        <%- include("navbar"); -%>
        <div class="container">
            <h1 class="text-center">Bird Sighting App</h1>
            <p>Listing in progress</p>
            <div id="listing-card-wrapper" class="row">
                <div id="listing-card-template" class="col-md-4 d-none">
                    <div class="listing-card card h-100 ">
                        <img></img>
                        <div class="card-body">
                            <p id="listing-description">Sample Description</h2>

                            <h6 id="listing-user-name">User</h6>
                            <p id="listing-user-time-stamp">12 November 2020</p>
                        </div>
                    </div>
                </div>

            </div>

            <div id="images-container" class="grid-container"></div>
        </div>
    </body>
    <%- include("base-footer"); -%>
    <script src="/javascripts/home-page.js"></script>
</html>
