<!DOCTYPE html>
<html>
<%- include("base-header"); -%>
<body>
<div class="container">
    <h1 class="text-center">Bird Sighting App</h1>
<!--    <a href="/sighting-post-form">-->
<!--        <button>Create New Post</button>-->
<!--    </a>-->
    <p>Listing in progress</p>
    <div id="images-container" class="grid-container"></div>
</div>

</body>
<%- include("base-footer"); -%>
<script src="/javascripts/home-page.js"></script>
</html>
