<!DOCTYPE html>
<html>
    <%- include("base-header"); -%>
    <body>
        <%- include("navbar"); -%>
        <div class="container">
            <h1 class="text-center">Bird Sighting App</h1>
            <p>Listing in progress</p>
            <div id="images-container" class="grid-container"></div>
        </div>
    </body>
    <%- include("base-footer"); -%>
    <script src="/javascripts/home-page.js"></script>
</html>
