<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/home-page.css">
      <link rel="manifest" href="/manifest.json">

  </head>
<body>
<a href="/sighting-post-form">
    <button>Create New Post</button></a>
    <div id="images-container" class="grid-container"></div>
</body>
<script src="/javascripts/home-page.js"></script>
</html>
