<!DOCTYPE html>
<html>
<head>
    <title>Sighting Detail Page</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }
        #sighting-image {
            width: 500px;
            height: 300px;
            max-height: 500px;
            object-fit: cover;
        }
        .sighting-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }
        .sighting-comment-section {
            width: 100%;
            height: 200px;
            margin-top: 50px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <a href="/">
        <button>Home Page</button></a>

    <img id="sighting-image" src="" alt="Sighting Image" />
    <div class="sighting-details">
        <div class="sighting-info">
            Date: <span id="date"></span><br>
            Description: <span id="desc"></span><br>
            User Nickname: <span id="username"></span><br>
        </div>
    </div>
    <div class="sighting-comment-section">
        <h3>Comments/Chat</h3>
    </div>
</div>
</body>
<script src="/javascripts/sighting-page.js"></script>
</html>
