<!DOCTYPE html>
<html>
    <head>
        <title>Sighting Detail Page</title>
        <%- include("base-header"); -%>
        <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    </head>
    <body>
    <%- include("navbar"); -%>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <img id="sighting-image" src="" alt="Sighting Image" />
                </div>
                <div class="col-md-6">
                    <div class="card h-100">
                        <div class="card-body">
                            <div class="sighting-info">
                                <h1 id="bird-name"></h1>

                                <p id="bird-description"></p>

                                <div id="gmap"></div>

                                <p class="mb-0 mt-3"><b id="user-name"></b></p>
                                <p id="user-date"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mt-5">
                <div class="card-body">
                    <h4>Chat</h4>
                    <hr />
                    <div id="messages"></div>
                    <div class="d-flex">
                        <form class="w-100" onsubmit="sendmessage(event)">
                            <div class="row">
<!--                                <div class="col-md-8">-->
<!--                                    <input class="form-control" type="text" id="name" style=display:block name="name" placeholder="Your name">-->
<!--                                </div>-->

                                <div class="col-md-11" id="message-name-wrapper">
                                    <input class="form-control" type="text" id="name" name="name" placeholder="Your name">
                                </div>

                                <div class="col-md-11" id="message-input-wrapper">
                                    <input class="form-control" placeholder="Enter your message"  type="text" id="message-input">
                                </div>

                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-primary w-100">Send</button>

                                </div>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </body>
    <%- include("base-footer"); -%>
    <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
      ({key: "AIzaSyCtdUKuO9tYG2TMvHEh5Tjl0FuxB4N5i8Q", v: "weekly"});</script>
    <script src="/javascripts/google-map-show-location.js"></script>
    <script src="/javascripts/sighting-page.js"></script>
    <script src="/javascripts/socketHandler.js"></script>

</html>
