<!DOCTYPE html>
<html>
<head>
    <title>Sighting Detail Page</title>
    <style>
        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .sighting-image {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }

        .sighting-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 20px;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }

        .sighting-comment-section {
            width: 100%;
            height: 200px;
            margin-top: 50px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <img class="sighting-image" src="your-image-source-here" alt="Sighting Image" />
    <div class="sighting-details">
        <div class="sighting-info">
            <h2>Title of the Sighting</h2>
            <p>Date of the Sighting</p>
            <p>Location of the Sighting</p>
        </div>
        <div class="sighting-user-info">
            <p>Username of the User who Posted the Sighting</p>
            <p>Date of the Sighting Post</p>
        </div>
    </div>
    <div class="sighting-comment-section">
        <h3>Comments</h3>
        <ul>
            <li>Comment 1</li>
            <li>Comment 2</li>
            <li>Comment 3</li>
        </ul>
    </div>
</div>
</body>
<script src="/javascripts/sighting-page.js"></script>
</html>
