@import "../bootstrap/scss/bootstrap";

.listing-card{

  transition: all 0.3s ease-in-out;
  &:hover{
    cursor: pointer;
    transform: scale(1.02);
  }
}

.flex-basis-50{
  flex-basis: 50%;
}

#error-message{
  display: none;
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
#gmap {
  height: 300px;
}

/*
 * Optional: Makes the sample page fill the window.
 */
.custom-map-control-button {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;

  display: flex;
  align-items: center;

  &:hover {
    background: rgb(235, 235, 235);
  }
}


#sighting-image {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: contain;
}
.sighting-comment-section {

  width: 100%;
  height: 200px;
  margin-top: 50px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 20px;
}
#messages{
  overflow-y: auto;
  height: 100px;
}
.message_box > *{
  margin: 2px;
}
